# Terraform working directory
**/.terraform/*

# Local Terraform state
*.tfstate
*.tfstate.backup

# Generated plan file
tfplan

# Crash logs
crash.log

# CLI config files
.terraformrc
terraform.rc

# Python virtual environment
.venv/
**/.terraform/*
*.tfstate
*.tfstate.backup
tfplan
crash.log
.terraformrc
terraform.rc
.venv/
