# Terraform cache & state
**/.terraform/*
*.tfstate
*.tfstate.backup
tfplan
.terraform.lock.hcl

# Python venv
.venv/

# dbt (local / generated)
dbt/profiles.yml
dbt/target/
dbt/logs/

# Project logs
logs/

